---
---

@import "devlopr";

.example-main {
  color: blue;
}

.full-width-img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.page-content img, 
.post-content img,
.card img,
article img,
main img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}